*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.metals
.DS_Store
/src/main/scala/.scala-build
.idea/libraries/sbt__junit_junit_4_13_2_jar.xml
.idea/libraries/sbt__org_hamcrest_hamcrest_core_1_3_jar.xml
.idea/libraries/sbt__org_scala_lang_modules_scala_xml_3_2_1_0_jar.xml
.idea/libraries/sbt__org_scala_lang_scala3_library_3_3_8_2_jar.xml
.idea/libraries/sbt__org_scala_lang_scala_library_3_8_2_jar.xml
.idea/libraries/sbt__org_scala_sbt_test_interface_1_0_jar.xml
.idea/libraries/sbt__org_scalactic_scalactic_3_3_2_18_jar.xml
.idea/libraries/sbt__org_scalameta_junit_interface_1_2_4_jar.xml
.idea/libraries/sbt__org_scalameta_munit_3_1_2_4_jar.xml
.idea/libraries/sbt__org_scalameta_munit_diff_3_1_2_4_jar.xml
.idea/libraries/sbt__org_scalatest_scalatest_3_3_2_18_jar.xml
.idea/libraries/sbt__org_scalatest_scalatest_compatible_3_2_18_jar.xml
.idea/libraries/sbt__org_scalatest_scalatest_core_3_3_2_18_jar.xml
.idea/libraries/sbt__org_scalatest_scalatest_diagrams_3_3_2_18_jar.xml
.idea/libraries/sbt__org_scalatest_scalatest_featurespec_3_3_2_18_jar.xml
.idea/libraries/sbt__org_scalatest_scalatest_flatspec_3_3_2_18_jar.xml
.idea/libraries/sbt__org_scalatest_scalatest_freespec_3_3_2_18_jar.xml
.idea/libraries/sbt__org_scalatest_scalatest_funspec_3_3_2_18_jar.xml
.idea/libraries/sbt__org_scalatest_scalatest_funsuite_3_3_2_18_jar.xml
.idea/libraries/sbt__org_scalatest_scalatest_matchers_core_3_3_2_18_jar.xml
.idea/libraries/sbt__org_scalatest_scalatest_mustmatchers_3_3_2_18_jar.xml
.idea/libraries/sbt__org_scalatest_scalatest_propspec_3_3_2_18_jar.xml
.idea/libraries/sbt__org_scalatest_scalatest_refspec_3_3_2_18_jar.xml
.idea/libraries/sbt__org_scalatest_scalatest_shouldmatchers_3_3_2_18_jar.xml
.idea/libraries/sbt__org_scalatest_scalatest_wordspec_3_3_2_18_jar.xml
/target
/project
/.idea
